{% extends "base.html" %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
    Login page
{% endblock %}
{% block body %}
    {% if errors %}
        {% for error in errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {{ form.csrf_token }}
        {% for field in ["email", "password"] %}
            {{ render_field(form[field]) }}
        {% endfor %}
        {{ form.submit(class="btn btn-primary mb-3") }}
    </form>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.register(class="btn btn-primary mb-3") }}
    </form>
{% endblock %}